/* Default Dimensions for all block elements */
block {
width: 100%;
height: 100%;
}

/* Wrapper DIV for all child content */

#wrapper{
    position: relative;
    width: 800px;
    height: auto;
    margin: 0 auto;
    top: 50px;
    
}

